
html,
body{
 height: 100%;

}

.main{
    flex-grow: 1;
}

.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
}
.container-fluid{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 10px;
}

body{
    display: flex;
    flex-direction: column;
    @extend %defaultfont-400;
    font-size: 16px;
    line-height: 27px;
    color: $default;
    overflow-x: hidden;
    min-width: 320px;
}
.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    
    li{
        margin: 0 15px;
    }
    button{
        background-color: $title;
        border: none;
        padding: 0;
        font-size: 0;
        border-radius: 50%;
        width: 8px;
        height: 8px;
    }
    li.slick-active{
        button{
        background-color: #FFEF35;
        }
    }
}
.info-email{
    position: relative;
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: $title;
        &::before{
            content: '';
            background-image: url('../images/icons/email.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 9px;
            left: 0;
            right: 0;
            bottom: 0;
            width: 16px;
            height: 12px;
        }
}