

$title: #363838;
$default: #5a5a5a;

%title-font{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #363838;
}
%defaultfont-400{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}